body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    align-items: center;
}
#topSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 2%);
}

#mainTab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mainTitle {
    text-align: center;
    padding-top: 2%;
}

#task-section, #team-list, #topSection, #completed-task-list li {
    border-bottom: lightgray solid 1px;
}

h1 {
    color: #333;
}

section {
    width: 300px;
    margin-top: 20px;
}

.container {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.date-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    margin: 20px;
}

.date-text {
    font-size: 24px;
    color: #333;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: deepskyblue;
}

.overdue {
    border-left: 3px solid red;
    background-color: #fff0f0;
}
.overdue p, .overdue strong {
    margin-left: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

input, select, button {
    padding: 5px;
    font-size: 1em;
}

select {
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

button.complete-btn {
    background-color: green;
    color: white;
    padding: 3px 8px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

#completed-task-list p {
    margin: 3px;
}

